* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-clip: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
    width: calc(100vw - (100vw - 100%));
    background-color: rgb(198, 200, 225);
    font-family: "Comfortaa", cursive;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input,
button,
a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.loader {
    transform: rotate(0deg);
    animation-name: loader;
    animation-duration: 3s;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media all and (orientation: portrait) and (max-width: 600px) {
    #to-column {
        flex-direction: column;
    }
}
